# project files
.idea
.iml

# directories
data/
lib/
lib_data/

freebase_types/
newsspike_sims/

# Jupyter
.ipynb_checkpoints/
*.ipynb

# evaluation
evaluate/data/
eval_data/
*.pkl
*.pyc

# sims
sims/
*_sim.txt
*_rels.txt

# code
out/

# data folders
news_raw/
news_linked/
news_gen/
_news_gen/
news_gen_argwise/

